*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.msg-success{
    font-family: 'Poppins', sans-serif;
    color: green;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.msg-error {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
body{
    height: 100vh;
    background: linear-gradient(135deg, #6c6a70, #302f31);
}

#noData, #completedData{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: red;
    margin: 10px;
}

.container{
    border: 2px solid white;
    width: 50%;
    min-width: 450px;
    margin: 90px 0;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

#alertBox{
    display: flex;
    justify-content: center;
    background-color: #977e7e;
    border: 1px solid #638ca3;
    padding: 5px;
    border-radius: 5px;
    /* width: 100%; */
    margin-top: 30px;
    /* position: fixed; */
}

#newTask{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newTask h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#newTask input{
    width: 70%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 10px 0;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

#newTask .button-row {
    display: flex;
    flex-direction: row;
    width: 55vh;
    justify-content: space-evenly;
}

#newTask .button-row button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
#newTask .button-row button#addBtn{
    background-color: forestgreen;
}
#newTask .button-row button#updateBtn{
    background-color: dodgerblue;
}
#newTask .button-row button#deleteBtn{
    background-color: orangered;
}
#tasks{
    background-color: white;
    padding: 30px 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.tasks .task,
.completed-tasks .completed-task{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.tasks .task.color{
    width: 3px;
    background-color: blue;
}

.tasks h4.new-task,
.completed-container h4.completedHint{
    color: dimgray;
    font-family: 'Courier New',
    Courier,
    monospace;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.tasks .task .task-info{
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
}

.tasks .task .task-info h4.todoTitle,
.completed-container .completed-tasks .completed-task .completed-task-info h4.todoTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}

.tasks .task .task-info p.todoDescription,
.completed-container .completed-tasks .completed-task .completed-task-info p.todoDescription{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    color: dimgray;
    margin: 10px 0;
}

.tasks .task .task-info .time-status,
.completed-container .completed-tasks .completed-task .completed-task-info .time-status{
    display: flex;
    justify-content: space-between;
    width: 85vh;
    padding: 5px;
    flex-direction: row;
    align-items: center;
}

.tasks .task .task-info .time-status p,
.completed-container .completed-tasks .completed-task .completed-task-info p{
    font-family: 'Courier New', Courier, monospace;
    color: dimgray;
    font-size: 15px;
    align-items: center;
}

.tasks .task .task-info .time-status p.date img,
.completed-container .completed-tasks .completed-task .completed-task-info p.date img{
    height: 15px;
    width: 15px;
}

.noData{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: dimgray;
    text-align: center;
}

.completed-container .completed-tasks .completed-task .completed-task-info button{
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 500;
    margin-right: 60px;
    font-size: 13px;
    background-color: #48a163;
    border: none;
    color: white;
    cursor: not-allowed;
}

.tasks .task .task-info .time-status button{
    float: right;
    width: 20%;
    height: 45px;
    margin-right: 60px;
    border-radius: 5px;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 500;
    font-size: 13px;
    background-color: #8052ec;
    border: none;
    color: white;
    cursor: pointer;
}


.tasks .task .task-info .actions{
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
}

.tasks .task .task-info .actions img{
    height: 25px;
    width: 25px;
    color: blue;
    cursor: pointer;
}

#completed-container{
    background-color: white;
    padding: 30px 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

#completed-early{
    color: forestgreen;
    font-weight: 500;
    font-size: 12px;
}

#completed-onTime{
    font-weight: 500;
    color: sandybrown;
    font-size: 12px;
}

#completed-late{
    font-weight: 500;
    color: maroon;
    font-size: 12px;
}
